body {
    margin: 0;
}

.container {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .file {
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        text-align: left;
        background: rgba(230, 230, 230, 0.755);
        padding: 16px;
        width: 75%;
        max-width: 450px;
        position: relative;
        border-radius: 3px;
        >[type='file'] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 10;
            cursor: pointer;
        }
        .button {
            display: inline-block;
            cursor: pointer;
            background: rgb(191, 191, 191);
            padding: 8px 16px;
            border-radius: 2px;
            margin-right: 8px;
            border-radius: 3px;
        }
        &:hover {
            .button {
                background: rgb(0, 0, 0);
                color: rgba(255, 255, 255, 0.755);
            }
        }
        .label {
            margin-top: auto;
            color: rgb(90, 90, 90);
            white-space: nowrap;
            font-size: 14px;
            margin-bottom: auto;
            margin-left: 6px;
            overflow: hidden;
        }
    }
    .file.-chosen {
        .label {
            font-size: 9px;
        }
    }
    .actionbutton {
        width: 84%;
        margin-top: 1.5rem;
        max-width: 480px;
        border-radius: 3px;
        height: 45px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 18px;
        color: white;
        background-color: black;
        border: 2px solid black;
        &:hover {
            color: black;
            background-color: white;
        }
    }
    .progressbutton {
        width: 84%;
        margin-top: 1.5rem;
        max-width: 480px;
        border-radius: 3px;
        height: 45px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 18px;
        color: white;
        background-color: rgb(91, 91, 91);
        border: 2px solid rgb(91, 91, 91);
    }
    .error {
        background-color: red;
        border: 2px solid red;
    }
}

.login_container {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .box {
        width: 30%;
        height: 40vh;
        min-width: 350px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
            font-size: 1.5rem;
            font-family: 'Courier New', Courier, monospace;
            margin-bottom: 1.5rem;
            color: black;
            text-decoration: none;
        }
        input {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-top: 1rem;
            width: 80%;
            font-size: 1rem;
            border: none;
            text-align: center;
            padding: .7rem;
            background-color: rgba(194, 194, 194, 0.449);
            border-radius: 50px;
            &:focus {
                outline: none;
            }
        }
        button {
            margin-top: 1.5rem;
            width: 35%;
            font-size: 18px;
            padding: .8rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid black;
            border-radius: 50px;
            background: white;
            color: rgb(0, 0, 0);
            &:hover {
                background: rgb(0, 0, 0);
                color: white;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
    }
    a {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        text-decoration: none;
        color: black;
        &:hover {
            mix-blend-mode: color-burn;
            color: rgb(71, 71, 71);
            text-decoration: dashed;
        }
    }
}

.pageload {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 99;
    &:after {
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        top: -30px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        border: 2px solid #000000;
        border-top: 2px dotted #000000;
        border-bottom: 5px dotted #000000;
        border-radius: 50%;
        animation: loading 1s infinite;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}